flet==0.27.6
SQLAlchemy==2.0.39
pymysql==1.1.1
python-dotenv==1.0.1


# para inatalar o requirements:
#   pip install -r requirements.txt


#   pip install flet
#   pip install sqlalchemy
#   pip install pymysql
#   pip install python-dotenv


# para rodar o codigo:
#   python src/main.py